.delete {
  cursor: pointer;
  margin-left: 5px;
}

button{
    margin:10px
}

body{
background-image: url(https://f.vividscreen.info/soft/dc7659b25e16bc48d40762d3d29fec6f/Brown-Leather-with-Seam-1920x1200.jpg);
}

h1, li{

    color:rgb(179, 179, 179);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

